/* input[type="radio"]:not(.browser-default) { */
    /* position: relative !important; */
    /* left: 0px !important; */
    /* visibility: visible !important; */
    /* top: 0; */
/* } */

.FormTagLib_field { 
	width:90%;
	height:30px;
	border: none;
	border-bottom: 1px solid #eee;
}

input[type="checkbox"]:not(.browser-default), input[type="radio"]:not(.browser-default) {
    position: relative !important;
    left: 2px !important;
    visibility: visible !important;
    /* top: 10; */
}

input[type="checkbox"]:checked:not(.browser-default) + label.checkbox::before, input[type="radio"]:checked:not(.browser-default) + label.radio::before {
    background-color: #e74c3c;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1),inset 0 0 0 3px #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1),inset 0 0 0 3px #fff;
	visibility: hidden !important;
}


.description{
	font-weight: 300 !important;
}

th {
	font-weight: 300 !important;	
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 0px solid #ddd;
}

.btn-default.green {
	border:none; 
	background-color:green;
}


.product .product-price, .product-price {
    line-height: 1;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(50, 50, 55);
}

.product {
    text-align: center;
	margin: 5px auto 15px;

}

.star-rating {
    text-align: center;
	margin: 5px auto 15px;

}

#admin .admin-action {
    text-align: center;
	color: #E74C3C !important;
	/* text-transform: lowercase; */
	font-size: 14px !important;	
	padding-right: 20 !important;
}

#admin .actions td{
    padding: 0 0 10 0 !important;
	text-align:right; 
	
}

#admin .item td {
    padding: 20 0 0 0 !important;
}

#admin .item th{
   padding: 20 0 0 0 !important;	
   font-weight: bolder !important;
}
